@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
  font-family: 'Roboto', sans-serif ;
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
body{
  background-color: rgb(29, 29, 29) !important;
}
/*nav bar lmrd flerd bach rj3at responsive*/
nav{
  margin: 0 auto;
  font-style: italic;
  width: 80%;
  background-color:transparent !important;
}
nav img{
  height: 60px;
}
.collapse{
  flex-grow: 0 !important;
}
nav ul{
  display: flex;
  gap: 3rem;
}
nav ul li a{
  position: relative;
  color: #fff !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  transition: 0.9s;
  transition: color 0.3s ease;
}
nav ul li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #FF0000;
    position: absolute;
    width: 0;
    transition: width 0.8s ease;
}
nav ul li a:hover::after{
    width: 80%;
}
.icona a{
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  transition: 0.8s;
}
.icona a:hover{
  color: #d83d4a;
  transform: scale(1.2);
}
.lehr{
  background-color: #FF0000;
  height: 2px;
  margin: auto!important;
  width: 50%;
}
/*navbar lmrd flerd--------------------------------------------------*/
/*tswira m3a rz9ha------------------------------------*/
.babayntswira{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bodyimg{
  max-width: 100%;
  opacity: calc(0.9);
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px; 
}
.bodyimg img{
height: 100%;
display: block;
border-radius: 8px;
box-shadow: -10px 0 15px #ff000052;
}
.pinimg{
  max-width: 700px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-left: 30px;
}
.p1{
  color: white;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;

}
.p2{
  color: white;
  line-height: 2;
  font-weight: 550;
  padding-bottom: 40px;
}
.apload-btn{
  padding: 15px;
  text-decoration: none;
  background-color: #FF0000;
  color: #f9f9f9;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  line-height: 50px;
  box-shadow: 6px 6px 10px #505050;
  border-radius:20px;
  cursor: pointer;
  transition: 0.9s;
}
.apload-btn:hover{
  background-color: #000000;
  color: #ffffff;
  transform: scale(0.5);
}
.apload-btn2{
  margin-left: 40px;
  background-color: #ffffff;
  color: #FF0000;
}
.bottomimg{
  display: flex;
  margin-top: 50px;
}
.divicon{
  height: 80px;
  width: 80px;
  background-color: #ffffff42;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.divicon2{
 margin-left: 50px;
}
.icoxx{
  font-size: 35px;
  color: #ffffff;
}
.iconshitholder{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
/*tswira m3a rz9ha------------------------------------*/
/*bar section------------------------------------------------------------------------------------------------*/
.perma .first{
  text-align: center;
  font-weight: 600;
  color: #fff;
  line-height: 2;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 40px;
}
.msakn{
  width: 120px;
}
/*bar section------------------------------------------------------------------------------------------------*/
/*image 2 m3a rz9ha---------------------------------------*/
.seconda{
  padding: 100px 13% 100px 13%;
  display: flex;
  justify-content: space-between;
}
.seconda .imagemovie{
  display: flex;
  align-items: center;
  width: 580px;
}
.seconda .imagemovie img{
  width: 100%;
}
.seconda .parah1{
  width: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.seconda .parah1 .p01{
  font-size: 20px;
}
.iconandtext{
  align-items: center;
}
.textoficon .p001{
  font-size: 22px;
  font-weight: 500;
  margin: 0 !important;
}
.textoficon .p002{
  font-size: 14px;
  font-weight: 400;
  margin: 0 !important;
}
.iconadiv{
  float: left;
  height: 80px;
  width: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-right: 10px;
}
.iconadiv i{
  font-size: 40px;
  color: #ff3434;
}
/*image 2 m3a rz9ha---------------------------------------*/
.cover-image{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.cover-image img{
  width: 200px;
  margin: 3px;
  transition: 500ms;
}
.cover-image img:hover{
  transform: scale(1.1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(65, 65, 65, 0.623),-5px -5px 5px rgba(65, 65, 65, 0.623);
}
/*piiiiiiiiics of sports--------------*/
.wtspsticker{
    height: 65px;
    width: 65px;
    position: sticky;
    bottom: 40px;
    left: 30px;
    z-index: 999;
    background-color: rgb(3, 255, 95);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
}
.fa-whatsapp{
  font-size: 45px; 
  color: #1c002c;
}
.wtspsticker:hover{
  transform: scale(1.3);
}
/*.wtspsticker----------------------------------------*/
#mimoun{
  margin-top: 100px;
  background-image: url(../img/Graphic.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-top: 100px;
}
.chr{
  padding-top: 30px;
  color: #ffffff;
  line-height: 2;
  text-align: center;
}
.chri{
  color: #ffffff;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
}
.main{
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.divs{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 286px;
  background-color: rgb(255, 255, 255);
  line-height: 2;
  transition: 0.8s;
}
.divs:hover{
  transform: scale(1.08);
  z-index: 50;
  border-radius: 30px;
}
.cdiv{
  text-align: center;
  padding-bottom: 20px;
}
.nms{
  background-color: #ffffff;
  height: 3px;
  width: 65%;
  opacity: 0.8 !important;
}
.phr{
  background-color: #ff3333;
  height: 3px;
  width: 65%;
  opacity: 0.8 !important;
}
.divs h3{
  font-size: 20px;
  margin: 10px 0 20px 0;
  text-align: center;
  color: #ff3333;
}
.link a{
  width: 180px;
  margin-top: 30px;
  text-align: center;
  background-color: #ff3333;
  background-size: cover;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 10px;
  transition: 0.7s;
  border-radius: 10px 20px;
  box-shadow: 10px 10px 20px #8a8a8a;
}
.link a:hover{
  transform: scale(0.9);
  background-color: #f9f9f9;
  color:#ff3333;
}
.cdiv h2{
  font-size: 25px;
}
.cdiv h1{
  font-style: normal ;
  font-size: 30px;
  color:#ff3333;
  text-shadow:#ff3333 2px 2px 5px;
}
.cdiv h5{
  font-size: 13px;
  color: #a5a5a5;
}
.divs1{
  z-index: 5;
  height: 740px;
  background-color:#000000;
  border-radius: 30px 30px 30px 30px;
  box-shadow:#ff3333 10px 10px 10px ,#ff3333 -5px -5px 20px;
  transition: 0.8s;
}
.divs1 h4{
  color: #f9f9f9;
  background-color: #000000;
  text-align: center;
  padding: 13px;
  font-size: large;
  font-weight: 600;
  display: block;
  box-shadow: 10px 10px 20px #ff3333;
  border-radius: 20px;
  margin-bottom: 30px; 
}
.divs1 .cdiv h2{
  color: #ffffff;
  text-shadow: #ff3333 2px 2px 5px;
}
.divs1 .cdiv h1{
  color: #ffffff;
}
.divs1 .list{
  color: #f9f9f9;
}
.divs1 .link a{
  box-shadow: 10px 10px 20px #000000;
}
.divs .list h6{
  font-weight: 100;
  line-height: 1.6;
  font-style: italic;
}
.help{
  text-align: center;
  color: #f9f9f9;
  line-height: 3;
}
.helping{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.divx1{
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgb(167, 167, 167)10px 10px 10px,rgb(167, 167, 167) -5px -5px 20px;
}
.divx2{
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgb(167, 167, 167) 10px 10px 10px ,rgb(167, 167, 167)-5px -5px 20px,inset rgb(214, 214, 214) 10px 0px 10px;
}
.divx3{
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgb(167, 167, 167) 10px 10px 10px,rgb(167, 167, 167) 0px -5px 20px;
 }
 .divx2:hover{
  box-shadow: rgb(167, 167, 167) 10px 10px 10px ,rgb(167, 167, 167)-5px -5px 20px;
}
#video-bg{
  height: 100%;
  position: fixed;
  z-index: -900;
  opacity: calc(0.2);
}

.Contact-us{
  margin-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ff2828;
  display: flex;
  justify-content: space-between;
}
.Contact-us .parah2{
  width: 580px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 7%;
}
.Contact-us .parah2 h3{
  font-size: 35px;
  padding-bottom: 15px;
  font-family: 'Lilita One', sans-serif;
  letter-spacing: 1px;
}
.Contact-us .parah2 .p02{
  font-size: 20px;
}
.Contact-us .p02 span{
  font-weight: 600;
  letter-spacing: 1px;
}
.Contact-us .die-welt img{
position: relative;
max-width:100% ;
padding-top: 120px;
}
.batman {

  border: none;
  position: relative;
  width: 200px;
  height: 73px;
  padding: 0;
  z-index: 2;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
 -webkit-mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(8px)
 }
 .batman:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0 0 0 white;
  transition: all 2s ease;
 }
 .batman:hover:after {
  box-shadow: 0px -13px 56px 12px #ffffffa6;
 }
 .batman span {
  position: absolute;
  width: 100%;
  font-size: 15px;
  font-weight: 100;
  left: 50%;
  top: 39%;
  letter-spacing: 3px;
  text-align: center;
  transform: translate(-50%,-50%);
  color: black;
  transition: all 2s ease;
 }
 .batman:hover span {
  color: white;
 }
.batman:before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
 }
 
.batman:hover:before {
  width: 100%;
 }
 .lbotona{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #ff2828;
 }
 .lastnav{
  display: flex;
  justify-content: space-around;

}
.navtwo{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 3;
  float: left;
}
.navtwo .logotwo img{
  margin-left: 65px;
  width: 150px;
  height: auto;
  padding-top: 15px;
}
.htitre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(218, 218, 218);
}
.htitre p{
  margin-top: 8px;
  color: rgb(218, 218, 218);
}
.dev{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.botona{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botona input{
  margin: 30px;
  background: none;
  border: none;
  width: 280px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}
.akhir-botonax {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 10, 10);
  border: 2px solid rgb(255, 10, 10);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  border-radius: 35px;
  width: 280px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
 }
 .akhir-botonax:hover{
  color: #fff;
  font-weight: 400;
  transition: 0.6s;
 }
 .akhir-botonax::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(255, 10, 10);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 .akhir-botonax:hover::before {
  transform: translateX(0);
 }
 .iconat-lt7t {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 0px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
.iconat-lt7t .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.iconat-lt7t .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.iconat-lt7t .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.iconat-lt7t .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.iconat-lt7t .icon:hover span,
.iconat-lt7t .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.iconat-lt7t .facebook:hover,
.iconat-lt7t .facebook:hover .tooltip,
.iconat-lt7t .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}
.iconat-lt7t .twitter:hover,
.iconat-lt7t .twitter:hover .tooltip,
.wiconat-lt7t .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #fff;
}
.iconat-lt7t .instagram:hover,
.iconat-lt7t .instagram:hover .tooltip,
.iconat-lt7t .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}
.drari p{
  color: rgb(218, 218, 218);
  font-size: 13px;
  padding-left: 17px;
  letter-spacing: 1px;
}
.policy a{
text-decoration: none;
padding-left: 8px;
color: rgb(160, 160, 160);
font-weight: 400;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.woxi{
  margin-top: 50px;
}








@media (max-width:1366px) {
  .image-container img{
    width: 100px;
  }
  .msakn{
    width: 80px;
  }
}

@media (max-width:1024px) {
  .pinimg{
    max-width: 650px;
  }
  .Contact-us{
    flex-wrap: wrap;
  }
  .p1{
    font-size: 45px;
    padding-bottom: 18px;
  }
  .image-container img{
    width: 70px;
  }
  .msakn{
    width: 60px;
  }
  .cover-image{
    flex-wrap: wrap;
  }
  .seconda{
    padding: 80px 5% 80px 5%;
  }
  .seconda .imagemovie{
    width: 600px;
  }
  .seconda .imagemovie img{
    width: 100%;
  }
  .seconda .parah1{
    gap: 15px;
  }
  .seconda .parah1 .p01{
    font-size: 16px;
  }
}

@media (max-width:800px) {
  .image-container{
    flex-wrap: wrap;
  }
  .seconda{
    flex-wrap: wrap;
  }
  .main{
    flex-wrap: wrap;
  }
  .divx2{
    border-radius: 0 30px 30px 0;
  }
  #mimoun{
    background-size: 150% 40%;
  }
  .cover-image img{
    width: 150px;
  }
}
@media (max-width:714px){
  .lastnav{
    flex-wrap: wrap;
  }
  .divs{
    border-radius: 30px 30px 30px 30px;
  }
  .woxi{
    display: flex;
    flex-wrap: wrap;
  }
  #mimoun{
    background-size: 150% 30%;
  }
  .chri{
    font-size: 30px;
  }

}
@media (max-width:504px){
  .p1{
    font-size: 32px;
  }
  .apload-btn2{
    margin-left: 10px;
  }
  .divicon2{
    margin-left: 0px;
   }
   .apload-btn{
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
  }
}
@media (max-width:384px) {
  .pinimg{
    padding-top: 15px;
    padding-left: 15px;
  }
  .p1{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 12px;
  }
  .p2{
    padding-bottom: 20px;
  }
}
























